@media print {
	* {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
	}

	@page {
		margin: 1cm;
		size:auto;
	}

	html, body, .content {
	    margin: 0;
	    padding: 0;
	}

/*	section {
		box-shadow:0 0 0 0 !important;
		border-bottom: 1px solid #BFBFBF;
		margin-top: 0rem;
		padding: 0rem 0rem 0.84rem 0rem;
	}

	h2 {
		padding: 0.84rem 0rem 0rem 0rem;
	}
	*/

	body {
		font-size: 12px;
		margin: 0;
	}

	h1 {
		font-size: 1.14rem;
	}

	h2 {
		font-size: 1.07rem;
	}

	h3 {	
		font-size: 1rem;
	}

	div.row span.date {
		font-size: 0.7rem;
	}

	@media (max-width:560px){
		{clear: both}
	}

	div.download {
		display: none;
	}
}